<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nteport.admin.mapper.MenuMapper">

    <select id="getMenu" resultType="hashMap">
        select * from t_menu
        order by sort
    </select>

    <select id="getMenuByUser" parameterType="java.lang.String" resultType="hashMap">
        select * from t_menu a
        where exists (
        select b.menu_id from t_role_menu b
        where b.menu_id = a.id and exists (
        select c.role_id from t_user_role c
        where c.role_id = b.role_id
        <if test="userId != -1">
            and c.user_id = #{userId,jdbcType=VARCHAR}
        </if>
        ))
        order by a.sort
    </select>

    <delete id="deleteByMenuId" parameterType="java.lang.String">
        delete from t_role_menu where menu_id = #{menuId,jdbcType=VARCHAR}
    </delete>

</mapper>