<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nteport.admin.mapper.NtPtlMapper">

    <select id="selectUser" parameterType="java.lang.String" resultType="hashMap">
        select * from USER_BASEINFO@NT_PTL t
        where t.username=#{username,jdbcType=VARCHAR} and t.password=#{password,jdbcType=VARCHAR}
    </select>

    <select id="selectUserByToken" parameterType="java.lang.String" resultType="hashMap">
        select * from USER_BASEINFO@NT_PTL t
        where t.token=#{token,jdbcType=VARCHAR}
    </select>

    <select id="selectDept" parameterType="java.lang.String" resultType="hashMap">
        select ID,ORG_NAME_CN,UNION_NO,AREA_NAME,REGISTER_PIC_ID from ORG_BASEINFO@NT_PTL t
        where t.id=#{depId,jdbcType=VARCHAR}
    </select>

    <update id="updateTokenById" parameterType="java.lang.String">
        update USER_BASEINFO@NT_PTL t set t.token=#{token,jdbcType=VARCHAR}  where t.id=#{id,jdbcType=VARCHAR}
    </update>

    <select id="queryRoleCodes" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT T2.ROLE_ID FROM ROLE_EMPLOYEE@NSW T2 WHERE T2.EMPLOYEE_ID = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="getMenuByUser" parameterType="java.lang.String" resultType="hashMap">
        select
            r.id,
            r.FATHER pid,
            r.NAME name,
            r.ABLE_URL path,
            r.WORK_SRC component,
            r.NAME title,
            r.IMAGE_URL icon,
            r.RIGHT_INDX sort,
            '1' hidden,
            r.IS_FATHER has_children,
            '' permissions,
            case when r.IS_FATHER='1' then 'noRedirect' else '' end redirect,
            case when r.IS_FATHER='1' then '1' else '2' end type,
            case when r.IS_FATHER='1' then '1' else '' end always_show,
            case when r.IS_FATHER='1' then '0' else '' end nocache,
            case when r.IS_FATHER='1' then '1' else '' end action
        from RIGHT@NSW r
        where 1 = 1
          and r.webid = 'WMB'
          and r.id in (SELECT T.RIGHT_ID
            FROM ROLE_RIGHT@NSW T
            WHERE T.ROLE_ID IN (SELECT T2.ROLE_ID
            FROM ROLE_EMPLOYEE@NSW T2
            WHERE T2.EMPLOYEE_ID = #{userId,jdbcType=VARCHAR})
            )
          and r.LEV = '前台'
          and r.FATHER!='-1'
        order by  r.right_indx desc
    </select>
    <update id="updateUser" parameterType="com.nteport.admin.entity.system.UserEntity">
        update USER_BASEINFO@NT_PTL t set t.PASSWORD=#{userPassword,jdbcType=VARCHAR},t.REALNAME=#{realName,jdbcType=VARCHAR},t.MOBILE=#{telephone,jdbcType=VARCHAR}  where t.id=#{id,jdbcType=VARCHAR}
    </update>

    <insert id="insertOrgBaseInfo" parameterType="hashmap">
        insert into ORG_BASEINFO@NT_PTL(
            ID,
            ORG_NAME_CN,
            INSPECT_NAME_CN,
            ORG_NAME_SCN,
            ORG_PROPERTY,
            ORG_TYPE,
            AREA_NAME,
            AREA_CODE,
            REG_TYPE,
            CHECK_STATE,
            STATE,
            CREATE_USER,
            CREATE_USER_ID,
            UPDATE_USER,
            UPDATE_USER_ID,
            RELATION_CODE,
            RELATION_CN,
            RELATION_SN,
            COMPLETE_STATE,
            UNION_NO,
            ALERT_STATE,
            REGISTER_PIC_ID
        )
        values(
            #{ID,jdbcType=VARCHAR},
            #{ORG_NAME_CN,jdbcType=VARCHAR},
            #{INSPECT_NAME_CN,jdbcType=VARCHAR},
            #{ORG_NAME_SCN,jdbcType=VARCHAR},
            '201303280000000652',
            'JYDW',
            #{AREA_NAME,jdbcType=VARCHAR},
            #{AREA_CODE,jdbcType=VARCHAR},
            '1',
            '2',
            '1',
            #{CREATE_USER,jdbcType=VARCHAR},
            #{CREATE_USER_ID,jdbcType=VARCHAR},
            #{UPDATE_USER,jdbcType=VARCHAR},
            #{UPDATE_USER_ID,jdbcType=VARCHAR},
            #{RELATION_CODE,jdbcType=VARCHAR},
            #{RELATION_CN,jdbcType=VARCHAR},
            #{RELATION_SN,jdbcType=VARCHAR},
            '1',
            #{UNION_NO,jdbcType=VARCHAR},
            null,
            #{REGISTER_PIC_ID,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertOrgMoreInfo" parameterType="hashmap">
        insert into ORG_MOREINFO@NT_PTL(
            ORG_ID,
            ORG_NAME_EN,
            IE_ENTER_CODE,
            IC_CODE,
            ZIP_CODE,
            ADDRESS_EN,
            ORG_URL,
            BANK,
            BANK_ACOUNT,
            REG_MON,
            CUSTOM_NO,
            INSPECT_NO,
            CUSTOM_TYPE,
            CUSTOM_CODE,
            CUSTOM_LIMITTIME,
            BUSINESS_SCOPE
        )
        values(
          #{ORG_ID,jdbcType=VARCHAR},
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null
      )
    </insert>

    <insert id="insertUserBaseInfo" parameterType="hashmap">
        insert into USER_BASEINFO@NT_PTL(
            ID,
            ORG_ID,
            USERNAME,
            PASSWORD,
            REALNAME,
            MOBILE,
            SEX,
            PHONE_STATE,
            EMAIL_STATE,
            USER_TYPE,
            IS_ADMIN,
            STATE,
            CREATE_USER,
            CREATE_USER_ID,
            UPDATE_USER,
            UPDATE_USER_ID
        )
        values(
              #{ID,jdbcType=VARCHAR},
              #{ORG_ID,jdbcType=VARCHAR},
              #{USERNAME,jdbcType=VARCHAR},
              #{PASSWORD,jdbcType=VARCHAR},
              #{REALNAME,jdbcType=VARCHAR},
              #{MOBILE,jdbcType=VARCHAR},
            '1',
            '0',
            '0',
            '2',
            '1',
            '2',
              #{CREATE_USER,jdbcType=VARCHAR},
              #{CREATE_USER_ID,jdbcType=VARCHAR},
              #{UPDATE_USER,jdbcType=VARCHAR},
              #{UPDATE_USER_ID,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertUserMoreInfo" parameterType="hashmap">
        insert into USER_MOREINFO@NT_PTL(
            USER_ID,
            FIX_PHONE
        )
        values(
            #{USER_ID,jdbcType=VARCHAR},
            null
          )
    </insert>

    <select id="selectRoleByCode" parameterType="java.lang.String" resultType="hashMap">
        select t.* from ROLE_RM@NSW t
        where webid = 'WMB'
        and t.SIMPLE_NAME=#{roleCode,jdbcType=VARCHAR}
    </select>

    <insert id="insertUserRole" parameterType="hashmap">
        insert into ROLE_EMPLOYEE@NSW(
            ID,
            ROLE_ID,
            EMPLOYEE_ID,
            EMPLOYEE_NAME,
            ROLE_NAME
        )
        values(
          #{ID,jdbcType=VARCHAR},
          #{ROLE_ID,jdbcType=VARCHAR},
          #{EMPLOYEE_ID,jdbcType=VARCHAR},
          #{EMPLOYEE_NAME,jdbcType=VARCHAR},
          #{ROLE_NAME,jdbcType=VARCHAR}
        )
    </insert>

    <select id="selectDeptByParam" parameterType="java.lang.String" resultType="hashMap">
        select ID from ORG_BASEINFO@NT_PTL t
        where t.${column}=#{value,jdbcType=VARCHAR}
    </select>

    <select id="selectUserByParam" parameterType="java.lang.String" resultType="hashMap">
        select ID from USER_BASEINFO@NT_PTL t
        where t.${column}=#{value,jdbcType=VARCHAR}
    </select>
</mapper>