<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nteport.admin.mapper.TDailyRecordMapper">

    <resultMap id="BaseResultMap" type="com.nteport.admin.entity.TDailyRecordEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="patrolTime" column="patrol_time" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="result" column="result" jdbcType="VARCHAR"/>
            <result property="memo" column="memo" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="creatorName" column="creator_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,patrol_time,start_time,
        end_time,result,memo,
        create_user,create_time,update_user,
        update_time,creator_name
    </sql>

    <select id="statRecords" resultType="hashmap">
        select a.dept_name deptName,dailySum,periodSum,trendsSum from
            (select count(1) dailySum,t3.dept_name from t_daily_record t1
                                                            left join t_user t2 on t1.create_user = t2.id
                                                            left join t_dept t3 on t2.dept_id = t3.id
             where type='1' and  DATE_FORMAT(t1.create_time,'%y-%m') = DATE_FORMAT(sysdate(),'%y-%m')
             GROUP BY t3.dept_name)a
                left join (
                select count(1) periodSum,t3.dept_name from t_daily_record t1
                                                                left join t_user t2 on t1.create_user = t2.id
                                                                left join t_dept t3 on t2.dept_id = t3.id
                where type='2' and DATE_FORMAT(t1.create_time,'%y-%m') = DATE_FORMAT(sysdate(),'%y-%m')
                GROUP BY t3.dept_name) b
                          on a.dept_name = b.dept_name
                left join (
                select count(1) trendsSum,t3.dept_name from t_daily_record t1
                                                                left join t_user t2 on t1.create_user = t2.id
                                                                left join t_dept t3 on t2.dept_id = t3.id
                where type='3' and DATE_FORMAT(t1.create_time,'%y-%m') = DATE_FORMAT(sysdate(),'%y-%m')
                GROUP BY t3.dept_name) c
                          on a.dept_name = c.dept_name
    </select>

    <select id="queryXuncha" resultType="hashmap" parameterType="java.lang.String">
        select t1.dicname name,ifnull(t2.num,0) value from t_big_dic t1 left join
             (SELECT
                  CASE
                      WHEN
                          type = '1' THEN
                          '岸线每日巡'
                      WHEN type = '2' THEN
                          '点位定期查'
                      WHEN type = '3' THEN
                          '动态督' ELSE ''
                      END typename,
                  count( 1 ) num
              FROM t_daily_record
              WHERE DATE_FORMAT( patrol_time, '%Y-%m' )= #{yearMonth,jdbcType=VARCHAR} AND STATUS = '1' GROUP BY type order by type) t2 on t1.dicname=t2.typename where t1.type='xuncha'
    </select>

    <select id="queryXunchaContent" resultType="hashmap">
        select t2.dicname area,t5.dept_name streetname, t1.creator_name xunchaname,DATE_FORMAT(t1.start_time,'%Y-%m-%d %H:%i:%s') starttime,DATE_FORMAT(t1.end_time,'%Y-%m-%d %H:%i:%s') endtime,t1.result,t1.id from t_daily_record t1
            inner join t_big_dic t2 on t2.type='area' and area_id=t2.diccode
            left join t_street t3 on t1.street_id=t3.id
            left join t_user t4 on t1.create_user=t4.id
            left join t_dept t5 on t4.dept_id=t5.id
        where t1.`status`=1 order by t1.start_time desc limit 20
    </select>

</mapper>
