<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nteport.admin.mapper.statistics.QpDecHeadStatisticsMapper">

    <!-- 报关单量统计 -->
    <select id="queryImOrExCustomsData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select to_char( count(1)) numb,substr(d.declarationData,0,6) as mon
        from nsw.qp_dechead d where 1=1 and d.isdelete !='1'
        <if test="qyFlag != null and qyFlag != ''" >
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and d.declarationdata is not null
        group by substr(d.declarationData,0,6)
        order by mon
    </select>
<!--    进出口运输方式-->
    <select id="queryTransportMode" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select count(d.trafmode_value) as numb,d.trafmode_value traf
        from nsw.qp_dechead d where 1=1 and d.isdelete !='1'
        and d.orgid= #{orgid,jdbcType=VARCHAR}
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;=#{endDate,jdbcType=VARCHAR}
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        group by d.trafmode_value
    </select>
<!--    进出口岸统计-->
    <select id="portStatistic" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select d.trafmode_value traf,d.ieport_value ieport,d.custommaster_value custom,count(d.custommaster_value) numb
        from nsw.qp_dechead d where 1=1 and d.isdelete !='1'
        and d.orgid= #{orgid,jdbcType=VARCHAR}
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;=#{endDate,jdbcType=VARCHAR}
        and d.trafmode_value= #{trafMode,jdbcType=VARCHAR}
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        group by d.trafmode_value,d.ieport_value,d.custommaster_value
        order by d.ieport_value
    </select>
<!--    贸易方式统计-->
    <select id="queryTradeMode" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select * from(
        select count(1) numb,d.trademode_value  trademode
        from  nsw.qp_dechead d where 1=1
        and d.orgid = #{orgid,jdbcType=VARCHAR}
        and d.isdelete != '1'
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d.trademode_value is not null
        group by d.trademode_value)
        order by numb desc
    </select>
    <!--报关货值统计-->
    <select id="queryGoodsTotal1" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select mon,currency,rate,sum(val) numb,round(sum(val)*rate,2) rmb from(
        select substr(d.declarationData,0,6) as mon,s.TRADECURR_VALUE  currency,s.CURRENTRATE  rate,s.DECLTOTAL  val
        from nsw.QP_DECLIST s
        left join  nsw.qp_dechead d
        on s.HEADID=d.id
        where 1=1
        and d.orgid = #{orgid,jdbcType=VARCHAR}
        and d.isdelete != '1'
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        )
        group by mon,currency,rate
        order by mon ASC
    </select>
    <select id="queryGoodsTotal2" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select mon,sum(RMB) RMB from(select mon,currency,rate,sum(val) numb,round(sum(val)*rate,2) rmb from(
        select substr(d.declarationData,0,6) as mon,s.TRADECURR_VALUE  currency,NVL(s.CURRENTRATE ,1)  rate,s.DECLTOTAL  val
        from nsw.QP_DECLIST s
        left join  nsw.qp_dechead d
        on s.HEADID=d.id
        where 1=1
        and d.orgid = #{orgid,jdbcType=VARCHAR}
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        )
        group by mon,currency,rate
        order by mon ASC
        )
        group by mon
        order by mon asc

    </select>
    <select id="queryTopGoods" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select * from(SELECT codeTS,gname,currency,rate,sum(val) numb,round(sum(val)*rate,2) rmb FROM (SELECT s.codeTS codeTS,s.gname gname,s.TRADECURR_VALUE  currency,NVL(s.CURRENTRATE ,1)  rate,s.DECLTOTAL  val FROM nsw.QP_DECLIST s LEFT JOIN nsw.qp_dechead d ON s.HEADID=d.ID
        WHERE 1=1
        <if test="qyFlag != null and qyFlag != ''" >
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        and d.isdelete != '1'
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and s.codeTS IS NOT NULL)
        group by codeTS,gname,currency,rate
        order by rmb desc)
        where rownum &lt;=10
    </select>
    <select id="queryTopFrequency" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select * from(
        select  count(1) as numb, s.codeTS codeTS,s.gname gname
        from nsw.qp_dechead d
        LEFT JOIN nsw.QP_DECLIST S
        ON d.ID=s.headId
        WHERE 1=1
        and d.orgid = #{orgid,jdbcType=VARCHAR}
        and d.isdelete != '1'
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and s.codeTS is not null
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        group by codeTS,gname
        order by numb desc)
        where rownum &lt;= 10
    </select>
<!--    管理端-->
    <select id="queryAreaData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT DISTINCT s.AREA_CODE areaCode,s.AREA_NAME areaName,
        to_char( count(1)) numb,round(sum(d.CUSTOMTOTALRMB),2) sumTotalRmb,round(sum(d.CUSTOMTOTALUSD),2) sumTotalUsd,
        to_char(sum(d.NETWT)) sumNetWt,
        to_char(sum(d.GROSSWET)) sumGrossWet FROM  nsw.qp_dechead d
        LEFT JOIN ORG_BASEINFO@NT_PTL s
        on s.ID = d.ORGID
        where 1=1  AND d.ISDELETE !='1'
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag ==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and s.AREA_CODE is not null
        group by s.AREA_CODE,s.AREA_NAME
        order by s.AREA_CODE
    </select>
    <select id="queryAreaDataByCode" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select to_char( count(1)) numb,to_char( count(1)) numb,to_char(sum(d.CUSTOMTOTALRMB)) sumTotalRmb,to_char(sum(d.CUSTOMTOTALUSD)) sumTotalUsd,
        to_char(sum(d.NETWT)) sumNetWt,
        to_char(sum(d.GROSSWET)) sumGrossWet,
        substr(d.declarationData,0,6) as mon FROM nsw.qp_dechead d
        LEFT JOIN ORG_BASEINFO@NT_PTL s
        on s.ID = d.ORGID
        where 1=1
        and d.ISDELETE !='1'
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and s.AREA_CODE =#{areaCode,jdbcType=VARCHAR}
        and d.declarationdata is not null
        group by substr(d.declarationData,0,6)
        order by mon
    </select>
<!--  查验率统计-->
    <select id="queryInspectRate" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select to_char( count(1)) numb,substr(d.declarationData,0,6) as mon
        from nsw.qp_dechead d where 1=1 and d.isdelete !='1'
        <if test="qyFlag != null and qyFlag != ''" >
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and d.declarationdata is not null
        group by substr(d.declarationData,0,6)
        order by mon
    </select>
    <select id="queryInspectRateCheck" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select to_char( count(1)) numbchecked,substr(d.declarationData,0,6) as mon
        from nsw.qp_dechead d where 1=1 and d.isdelete !='1'
        and d.orgid= #{orgid,jdbcType=VARCHAR}
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and
        substr(d.declarationData,0,6)= #{mon,jdbcType=VARCHAR}
        and d.declarationdata is not null
        AND d.CHECKTIME is  null
        group by substr(d.declarationData,0,6)
        order by mon
    </select>
    <select id="queryGoodsData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT codeTS,
        gname  ,sum(rmb)rmb FROM(
        select * from(SELECT codeTS,gname,currency,rate,sum(val) numb,round(sum(val)*rate,2) rmb FROM (
        SELECT s.codeTS codeTS,s.gname gname,s.TRADECURR_VALUE  currency,NVL(s.CURRENTRATE ,1)  rate,s.DECLTOTAL  val FROM nsw.QP_DECLIST s LEFT JOIN nsw.qp_dechead d ON s.HEADID=d.ID
        WHERE 1=1
        and d.isdelete != '1'
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and s.codeTS IS NOT NULL)
        group by codeTS,gname,currency,rate
        order by rmb desc))
        GROUP BY  codeTS,
        gname
    </select>
    <select id="queryGoodsDataByGNAME" resultType="java.util.HashMap" parameterType="java.util.HashMap">

        SELECT s.gno,
        s.codeTS codeTS,
        s.gname gname,s.ciqName,s.contrItem,s.gmodel,s.ORIGINCOUNTRY_VALUE ,s.DESTINATIONCOUNTRY_VALUE,s.gqty,s.DECLPRICE,
        s.TRADECURR_VALUE ,s.DECLTOTAL ,round(s.DECLTOTAL*NVL(s.CURRENTRATE,1)) rmb,s.dutyMode_value
        FROM
        nsw.QP_DECLIST s LEFT JOIN nsw.qp_dechead d  ON s.HEADID=d.ID
        WHERE 1=1
        and d.isdelete != '1'
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and s.codeTS IS NOT NULL
        and d.declarationdata is not null
        and s.gname =#{gname,jdbcType=VARCHAR}
        order by gno asc
    </select>
    <select id="queryGoodsDataDetail" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select * from(SELECT mon,codeTS,gname,currency,rate,sum(val) numb,round(sum(val)*rate,2) rmb FROM (
        SELECT substr(d.declarationData,0,6) mon,s.codeTS codeTS,s.gname gname,s.TRADECURR_VALUE  currency,NVL(s.CURRENTRATE ,1)  rate,s.DECLTOTAL  val FROM nsw.QP_DECLIST s LEFT JOIN nsw.qp_dechead d ON s.HEADID=d.ID
        WHERE 1=1
        and d.isdelete != '1'
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d.declarationdata is not null
        and s.codeTS IS NOT NULL
        and s.gname =#{gname,jdbcType=VARCHAR}
        and s.codeTS =#{codeTS,jdbcType=VARCHAR}
            )
        group by mon,codeTS,gname,currency,rate
        order by rmb desc)
    </select>
    <select id="queryKeyCompanyDataList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT * FROM
            (
                SELECT A.*, ROWNUM RN
                FROM (SELECT s.ORG_NAME ,s.org_id orgid,nvl(a.numbI,0)numbI,nvl(b.numbE,0)numbE, nvl(a.customtotalrmbI,0)customtotalrmbI,nvl(a.customtotalusdI,0)customtotalusdI, nvl(b.customtotalrmbE,0)customtotalrmbE,nvl(b.customtotalusdE ,0)customtotalusdE
        FROM IMPORTANT_COMPANY s
        LEFT JOIN
        (SELECT d1.orgId ,to_char( count(1)) numbI,round(sum(d1.customtotalrmb),2)customtotalrmbI,round(sum(d1.customtotalusd),2)customtotalusdI FROM nsw.qp_dechead d1
        WHERE 1=1
        and d1.isdelete != '1'
        and d1.ieFlag= 'I'
        and d1.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d1.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d1.declarationdata is not null
        <if test="keyCompanyFlag != null and keyCompanyFlag != ''" >
            and exists (select 1 from IMPORTANT_COMPANY where ORG_ID=d1.orgId)
        </if>
        GROUP BY d1.orgId)a ON a.orgId =s.org_id
        LEFT JOIN
        (SELECT d1.orgId ,to_char( count(1)) numbE,round(sum(d1.customtotalrmb),2)customtotalrmbE,round(sum(d1.customtotalusd),2)customtotalusdE FROM nsw.qp_dechead d1
        WHERE 1=1
        and d1.isdelete != '1'
        and d1.ieFlag= 'E'
        and d1.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d1.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d1.declarationdata is not null
        GROUP BY d1.orgId  )b ON b.orgId =s.org_id order by customtotalrmbI desc,customtotalrmbE desc,numbI desc,numbE desc) A
                WHERE ROWNUM &lt;= #{pageSize,jdbcType=BIGINT}
            )
        WHERE RN &gt;= #{current,jdbcType=BIGINT}
    </select>
    <select id="queryKeyCompanyDataListCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select count(*) from (
        SELECT s.ORG_NAME  FROM IMPORTANT_COMPANY s
        LEFT JOIN
        (SELECT d1.orgId ,to_char( count(1)) numbI,round(sum(d1.customtotalrmb),2)customtotalrmbI,round(sum(d1.customtotalusd),2)customtotalusdI FROM nsw.qp_dechead d1
        WHERE 1=1
        and d1.isdelete != '1'
        and d1.ieFlag= 'I'
        and d1.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d1.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d1.declarationdata is not null
        <if test="keyCompanyFlag != null and keyCompanyFlag != ''" >
            and exists (select 1 from IMPORTANT_COMPANY where ORG_ID=d1.orgId)
        </if>
       GROUP BY d1.orgId)a ON a.orgId =s.org_id
       LEFT JOIN
      (SELECT d1.orgId ,to_char( count(1)) numbE,round(sum(d1.customtotalrmb),2)customtotalrmbE,round(sum(d1.customtotalusd),2)customtotalusdE FROM nsw.qp_dechead d1
       WHERE 1=1
        and d1.isdelete != '1'
        and d1.ieFlag= 'E'
        and d1.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d1.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d1.declarationdata is not null
        <if test="keyCompanyFlag != null and keyCompanyFlag != ''" >
            and exists (select 1 from IMPORTANT_COMPANY where ORG_ID=d1.orgId)
        </if>
       GROUP BY d1.orgId)b ON b.orgId =s.org_id
         )
    </select>
    <select id="queryKeyCompanyDataSum" resultType="java.util.HashMap" parameterType="java.util.HashMap">
    select sum(A.numbI) numbISum,sum(A.numbE) numbESum,
    sum(A.customtotalrmbI) customtotalrmbISum,sum(A.customtotalusdI)customtotalusdISum,sum(A.customtotalrmbE) customtotalrmbESum,sum(A.customtotalusdE)customtotalusdESum
    from (
        SELECT s.ORG_NAME ,s.org_id orgid,a.numbI,b.numbE, nvl(a.customtotalrmbI,0)customtotalrmbI,nvl(a.customtotalusdI,0)customtotalusdI, nvl(b.customtotalrmbE,0)customtotalrmbE,nvl(b.customtotalusdE ,0)customtotalusdE
    FROM IMPORTANT_COMPANY s
    LEFT JOIN
    (SELECT d1.orgId ,to_char( count(1)) numbI,round(sum(d1.customtotalrmb),2)customtotalrmbI,round(sum(d1.customtotalusd),2)customtotalusdI FROM nsw.qp_dechead d1
    WHERE 1=1
    and d1.isdelete != '1'
    and d1.ieFlag= 'I'
    and d1.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
    and d1.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
    and d1.declarationdata is not null
    <if test="keyCompanyFlag != null and keyCompanyFlag != ''" >
        and exists (select 1 from IMPORTANT_COMPANY where ORG_ID=s.org_id)
    </if>
    GROUP BY d1.orgId)a ON a.orgId =s.org_id
    LEFT JOIN
    (SELECT d1.orgId ,to_char( count(1)) numbE,round(sum(d1.customtotalrmb),2)customtotalrmbE,round(sum(d1.customtotalusd),2)customtotalusdE FROM nsw.qp_dechead d1
    WHERE 1=1
    and d1.isdelete != '1'
    and d1.ieFlag= 'E'
    and d1.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
    and d1.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
    and d1.declarationdata is not null
    <if test="keyCompanyFlag != null and keyCompanyFlag != ''" >
        and exists (select 1 from IMPORTANT_COMPANY where ORG_ID=s.org_id)
    </if>
    GROUP BY d1.orgId)b ON b.orgId =s.org_id order by orgid
        )A
    </select>
    <select id="queryKeyCompanyDataByCode" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT a1.mon  ,nvl(a.numbI,0)numbI ,
        nvl(a.customtotalrmbI,0)customtotalrmbI  , nvl(a.customtotalusdI,0)customtotalusdI ,nvl(b.numbE,0)numbE  , nvl(b.customtotalrmbE,0)customtotalrmbE ,nvl( b.customtotalusdE,0)customtotalusdE FROM
        ( SELECT substr(d.declarationData,0,6)as mon
        FROM nsw.qp_dechead d    WHERE  1=1
        AND d.ORGID=#{orgId,jdbcType=VARCHAR}
        and d.isdelete != '1'
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d.declarationdata is not null
        group by substr(d.declarationData,0,6)
        order by mon) a1  LEFT JOIN
        (
        SELECT substr(d1.declarationData,0,6)as mon1,
        d1.orgId ,
        to_char( count(1)) numbI,
        round(sum(d1.customtotalrmb),
        2)customtotalrmbI,
        round(sum(d1.customtotalusd),
        2)customtotalusdI
        FROM
        nsw.qp_dechead d1
        WHERE
        1=1
        and d1.isdelete != '1'
        and d1.ieFlag= 'I'
        and d1.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d1.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d1.declarationdata is not null
        AND d1.ORGID=#{orgId,jdbcType=VARCHAR}
        GROUP BY
        substr(d1.declarationData,0,6),d1.orgId
        )a
        ON a.mon1  =a1.mon
        LEFT JOIN
        (
        SELECT
        substr(d1.declarationData,0,6)as mon1,
        d1.orgId ,
        to_char( count(1)) numbE,
        round(sum(d1.customtotalrmb),
        2)customtotalrmbE,
        round(sum(d1.customtotalusd),
        2)customtotalusdE
        FROM
        nsw.qp_dechead d1
        WHERE
        1=1
        and d1.isdelete != '1'
        and d1.ieFlag= 'E'
        and d1.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d1.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d1.declarationdata is not null
        AND d1.ORGID=#{orgId,jdbcType=VARCHAR}
        GROUP BY
        substr(d1.declarationData,0,6),d1.orgId
        )b
        ON b.mon1  =a1.mon
        order by a1.mon
    </select>
    <select id="queryInspectRateDash" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select to_char( count(1)) value,case d.IEFLAG  when 'I' then '进口'
        when 'E' then '出口'
        END AS name
        from nsw.qp_dechead d where 1=1
        and d.isdelete != '1'
        <if test="qyFlag != null and qyFlag != ''" >
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata&lt;= #{endDate,jdbcType=VARCHAR}
        and d.declarationdata is not null
        AND d.CHECKTIME is not  null
        group by d.IEFLAG
    </select>
    <select id="queryCustomSumDash" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select substr(d.declarationData,0,6) as mon,round(sum(d.customTotalRmb),2) rmb
        from nsw.qp_dechead d where 1=1
        and d.isdelete != '1'
        <if test="qyFlag != null and qyFlag != ''" >
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="ieFlag != null and ieFlag != ''" >
            and d.ieFlag= #{ieFlag,jdbcType=VARCHAR}
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d.declarationdata is not null
        group by substr(d.declarationData,0,6)
        order by mon ASC
    </select>
    <select id="queryTotalCustomDataDash" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT a.*,b.* FROM (SELECT nvl(to_char( count(1)),0) numbI,nvl(round(sum(d.customTotalRmb),2),0) rmbI FROM    nsw.qp_dechead d where 1=1
        AND  d.ieflag='I'
        <if test="qyFlag ==1">
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d.declarationdata is not null)a,
        (SELECT nvl(to_char( count(1)),0) numbE,nvl(round(sum(d.customTotalRmb),2),0) rmbE FROM    nsw.qp_dechead d where 1=1
        AND  d.ieflag='E'
        <if test="qyFlag ==1">
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d.declarationdata is not null)b
    </select>
    <select id="querySysTimeCustomData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT a.*,b.* FROM (SELECT to_char( count(1)) numbBeforeDay FROM nsw.qp_dechead d WHERE 1=1  and d.declarationdata is not null
        <if test="qyFlag ==1">
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
        and    to_date(to_char(d.CREATETIME , 'yyyy-mm-dd'),'yyyy-mm-dd')  =
        trunc ( sysdate - 1 ))a,
        (SELECT to_char( count(1)) numbNowDay FROM nsw.qp_dechead d WHERE 1=1  and d.declarationdata is not null
        <if test="qyFlag==1">
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
        and  to_date(to_char(d.CREATETIME , 'yyyy-mm-dd'),'yyyy-mm-dd')&gt;=TRUNC(SYSDATE) and d.createTime &lt;= TRUNC(SYSDATE)+1)b
    </select>
    <select id="queryMonthCustomData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT a.*,b.* FROM (SELECT to_char(count(1))numbNowMonth FROM nsw.qp_dechead d WHERE 1=1
        <if test="qyFlag ==1">
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
        AND  d.CREATETIME>=trunc(SYSDATE, 'mm') and d.CREATETIME  &lt;= last_day(SYSDATE))a ,
        (SELECT to_char(count(1))numbbeforeMonth FROM nsw.qp_dechead d WHERE 1=1
        <if test="qyFlag==1">
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag ==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
        AND   to_char(d.CREATETIME , 'yyyy-mm')  =to_char(add_months(trunc(sysdate),-1),'yyyy-mm'))b
    </select>
    <select id="queryYearCustomData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT a.* ,b.* FROM (SELECT to_char(count(1))numbNowYear FROM nsw.qp_dechead d WHERE 1=1
        <if test="qyFlag==1">
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag ==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
        AND   to_char(d.CREATETIME,'yyyy') =  to_char(sysdate,'yyyy'))a,
        (SELECT to_char(count(1))numbBeforeYear FROM nsw.qp_dechead d WHERE 1=1
        <if test="qyFlag ==1">
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
        AND   to_number(to_char(d.CREATETIME,'yyyy')) = to_number(to_char(sysdate,'yyyy'))-1)b
    </select>
    <select id="queryTotalCustomData" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT to_char(count(1))numbTotal FROM nsw.qp_dechead d WHERE 1=1 and d.declarationdata is not null
        <if test="qyFlag ==1">
        and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag ==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
    </select>
    <select id="queryAreaDataDash" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT   s.AREA_CODE ,s.AREA_NAME ,COUNT(CASE d.IEFLAG  WHEN 'I' THEN 1 ELSE NULL END) numbI,  COUNT(CASE d.IEFLAG  WHEN 'E' THEN 1 ELSE NULL END)numbE,
        round(sum(CASE d.IEFLAG  WHEN 'I' THEN d.CUSTOMTOTALRMB  ELSE '0' END),2)rmbI,  round(sum(CASE d.IEFLAG  WHEN 'E' THEN d.CUSTOMTOTALRMB  ELSE '0' END),2)rmbE,
        sum(CASE d.IEFLAG  WHEN 'I' THEN d.GROSSWET  ELSE '0' END) GROSSWETI,  sum(CASE d.IEFLAG  WHEN 'E' THEN d.GROSSWET  ELSE '0' END) GROSSWETE
        FROM nsw.qp_dechead d
        LEFT JOIN  ORG_BASEINFO@NT_PTL s
        on s.ID = d.ORGID
        where 1=1
        AND  d.ISDELETE !='1'
        <if test="qyFlag ==1">
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag ==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d.declarationdata is not null
        and s.AREA_CODE is not null
        group by s.AREA_CODE,s.AREA_NAME
        order by s.AREA_CODE
    </select>
    <select id="queryCustomDataDash" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT  substr(d.declarationData,0,6) as mon,COUNT(CASE d.IEFLAG  WHEN 'I' THEN 1 ELSE NULL END) numbI,  COUNT(CASE d.IEFLAG  WHEN 'E' THEN 1 ELSE NULL END)numbE,
        round(sum(CASE d.IEFLAG  WHEN 'I' THEN d.CUSTOMTOTALRMB  ELSE '0' END),2)rmbI,  round(sum(CASE d.IEFLAG  WHEN 'E' THEN d.CUSTOMTOTALRMB  ELSE '0' END),2)rmbE,
        sum(CASE d.IEFLAG  WHEN 'I' THEN d.GROSSWET  ELSE '0' END) GROSSWETI,  sum(CASE d.IEFLAG  WHEN 'E' THEN d.GROSSWET  ELSE '0' END) GROSSWETE
        FROM nsw.qp_dechead d
        where 1=1
        AND  d.ISDELETE !='1'
        <if test="qyFlag ==1">
            and d.orgid = #{orgid,jdbcType=VARCHAR}
        </if>
        <if test="keyFlag ==1">
            and exists(select 1 from important_company where  d.orgId= org_id )
        </if>
        and d.declarationdata &gt;= #{startDate,jdbcType=VARCHAR}
        and d.declarationdata &lt;= #{endDate,jdbcType=VARCHAR}
        and d.declarationdata is not null
        group by substr(d.declarationData,0,6)
        order by mon
    </select>
    <select id="queryQyUseDataDash" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT   a.nowDay,b.beforeDay,c.nowWeek,d.nowMonth,e.beforeMonth,f.nowYear,g.beforeYear FROM
        (SELECT  nvl(sum(count(distinct dept_id)),0) nowDay ,1 aaa  FROM  T_LOGIN_LOG a    WHERE TO_CHAR(CREATE_TIME,'YYYY-MM-DD')=TO_CHAR(SYSDATE,'YYYY-MM-DD')GROUP BY dept_id)a  ,
        (SELECT nvl(sum(count(distinct dept_id)),0) beforeDay,1 bbb from  T_LOGIN_LOG a  where to_char(CREATE_TIME ,'yyyy-mm-dd')=to_char( add_months(sysdate,-12),'yyyy-mm-dd')GROUP BY dept_id)b,
        (select nvl(sum(count(distinct dept_id)),0) nowWeek ,1 ccc from  T_LOGIN_LOG a where CREATE_TIME > sysdate - (to_char(sysdate-1,'D')) GROUP BY dept_id)c,
        (SELECT nvl(sum(count(distinct dept_id)),0)nowMonth ,1 ddd FROM  T_LOGIN_LOG a WHERE TO_CHAR(CREATE_TIME,'YYYY-MM')=TO_CHAR(SYSDATE,'YYYY-MM')GROUP BY dept_id)d,
        (select nvl(sum(count(distinct dept_id)),0)beforeMonth ,1 eee from T_LOGIN_LOG a  where to_char(CREATE_TIME ,'yyyy-mm')=to_char( add_months(sysdate,-12),'yyyy-mm')GROUP BY dept_id)e,
        (SELECT nvl(sum(count(distinct dept_id)),0)nowYear  ,1 fff FROM  T_LOGIN_LOG a  WHERE TO_CHAR(CREATE_TIME,'yyyy')=TO_CHAR(SYSDATE,'yyyy')GROUP BY dept_id)f,
        (select nvl(sum(count(distinct dept_id)),0)beforeYear  ,1 fg  from T_LOGIN_LOG a   where to_char(CREATE_TIME ,'yyyy')=to_char( add_months(sysdate,-12),'yyyy')GROUP BY dept_id)g
    </select>
    <select id="queryKeyQyDataDash" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT a.*,b.*,b2.*,c.*,d.*,e.*,e2.*,f.*,g.*,g2.* FROM (SELECT COUNT(1)nowday1  FROM  IMPORTANT_COMPANY ic WHERE TO_CHAR(CREATE_DATE,'YYYY-MM-DD')=TO_CHAR(SYSDATE,'YYYY-MM-DD'))a ,
        (select count(1)beforeDay1 from IMPORTANT_COMPANY ic  where to_char(CREATE_DATE ,'yyyy-mm-dd')=to_char( add_months(sysdate,-12),'yyyy-mm-dd'))b,
        (select count(1)beforeDay2 from IMPORTANT_COMPANY ic  where to_char(CREATE_DATE ,'yyyy-mm-dd')=to_char( add_months(sysdate,-24),'yyyy-mm-dd'))b2,
        (select count(*)nowweek1 from IMPORTANT_COMPANY ic where CREATE_DATE > sysdate - (to_char(sysdate-1,'D')))c,
        (SELECT COUNT(1)nowMonth1 FROM  IMPORTANT_COMPANY ic WHERE TO_CHAR(CREATE_DATE,'YYYY-MM')=TO_CHAR(SYSDATE,'YYYY-MM'))d,
        (select count(1)beforeMonth1 from IMPORTANT_COMPANY ic  where to_char(CREATE_DATE ,'yyyy-mm')=to_char( add_months(sysdate,-12),'yyyy-mm'))e,
        (select count(1)beforeMonth2 from IMPORTANT_COMPANY ic  where to_char(CREATE_DATE ,'yyyy-mm')=to_char( add_months(sysdate,-24),'yyyy-mm'))e2,
        (SELECT COUNT(1)nowYear1 FROM  IMPORTANT_COMPANY ic WHERE TO_CHAR(CREATE_DATE,'yyyy')=TO_CHAR(SYSDATE,'yyyy'))f,
        (select count(1)beforeYear1 from IMPORTANT_COMPANY ic  where to_char(CREATE_DATE ,'yyyy')=to_char( add_months(sysdate,-12),'yyyy'))g,
        (select count(1)beforeYear2 from IMPORTANT_COMPANY ic  where to_char(CREATE_DATE ,'yyyy')=to_char( add_months(sysdate,-24),'yyyy'))g2
    </select>
    <select id="querAllQyDataDash" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT a.*,b.*,b2.*,c.*,d.*,e.*,e2.*,f.*,g.*,g2.* FROM (SELECT COUNT(1)nowday11  FROM  ORG_BASEINFO@NT_PTL ic WHERE TO_CHAR(CREATE_DATE,'YYYY-MM-DD')=TO_CHAR(SYSDATE,'YYYY-MM-DD'))a ,
        (select count(1)beforeDay11 from ORG_BASEINFO@NT_PTL ic  where to_char(CREATE_DATE ,'yyyy-mm-dd')=to_char( add_months(sysdate,-12),'yyyy-mm-dd'))b,
        (select count(1)beforeDay21 from ORG_BASEINFO@NT_PTL ic  where to_char(CREATE_DATE ,'yyyy-mm-dd')=to_char( add_months(sysdate,-24),'yyyy-mm-dd'))b2,
        (select count(*)nowweek11 from ORG_BASEINFO@NT_PTL ic where CREATE_DATE > sysdate - (to_char(sysdate-1,'D')))c,
        (SELECT COUNT(1)nowMonth11 FROM  ORG_BASEINFO@NT_PTL ic WHERE TO_CHAR(CREATE_DATE,'YYYY-MM')=TO_CHAR(SYSDATE,'YYYY-MM'))d,
        (select count(1)beforeMonth11 from ORG_BASEINFO@NT_PTL ic  where to_char(CREATE_DATE ,'yyyy-mm')=to_char( add_months(sysdate,-12),'yyyy-mm'))e,
        (select count(1)beforeMonth21 from ORG_BASEINFO@NT_PTL ic  where to_char(CREATE_DATE ,'yyyy-mm')=to_char( add_months(sysdate,-24),'yyyy-mm'))e2,
        (SELECT COUNT(1)nowYear11 FROM  ORG_BASEINFO@NT_PTL ic WHERE TO_CHAR(CREATE_DATE,'yyyy')=TO_CHAR(SYSDATE,'yyyy'))f,
        (select count(1)beforeYear11 from ORG_BASEINFO@NT_PTL ic  where to_char(CREATE_DATE ,'yyyy')=to_char( add_months(sysdate,-12),'yyyy'))g,
        (select count(1)beforeYear21 from ORG_BASEINFO@NT_PTL ic  where to_char(CREATE_DATE ,'yyyy')=to_char( add_months(sysdate,-24),'yyyy'))g2
    </select>
</mapper>