@font-face {
  font-family: "iconfont"; /* Project id 3722544 */
  src: url('iconfont.woff2?t=1666406971394') format('woff2'),
       url('iconfont.woff?t=1666406971394') format('woff'),
       url('iconfont.ttf?t=1666406971394') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e643";
}

.icon-jinggao:before {
  content: "\e641";
}

.icon-rili:before {
  content: "\e625";
}

.icon-ditu2:before {
  content: "\e629";
}

.icon-close1:before {
  content: "\e67e";
}

.icon-jinggao1:before {
  content: "\e656";
}

.icon-chaxunditu:before {
  content: "\e622";
}

.icon-ditu3:before {
  content: "\e614";
}

.icon-map:before {
  content: "\e677";
}

.icon-rili1:before {
  content: "\e869";
}

.icon-close:before {
  content: "\e646";
}

.icon-weibiaoti1:before {
  content: "\e600";
}

.icon-ditu:before {
  content: "\e648";
}

.icon-ditu1:before {
  content: "\e664";
}

